.devpav-selector-wrapper {
    width: 100%;
}

.devpav-selector-wrapper > .devpav-selector-wrapper__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.devpav-selector-wrapper > .devpav-selector-wrapper__box {
    margin-top: 10px;
    height: auto;
}

.devpav-selector-wrapper__box devpav-chip {
    margin-right: 10px;
    margin-bottom: 10px;
}
