<div class="devpav-selector-wrapper">
  <devpav-input class="devpav-selector-wrapper__input" ph="devpav-input"></devpav-input>
  <div class="devpav-selector-wrapper__box">
    <devpav-chip value="value-chip" id="value"></devpav-chip>
    <devpav-chip value="value-chip1" id="value"></devpav-chip>
    <devpav-chip value="value-chip2" id="value"></devpav-chip>
    <devpav-chip value="value-chip3" id="value"></devpav-chip>
    <devpav-chip value="value-chip4" id="value"></devpav-chip>
    <devpav-chip value="value-chip5" id="value"></devpav-chip>
    <devpav-chip value="value-chip6" id="value"></devpav-chip>
    <devpav-chip value="value-chip7" id="value"></devpav-chip>
    <devpav-chip value="value-chip8" id="value"></devpav-chip>
  </div>
</div>
