<div class="devpav-selector-wrapper">
  <div class="devpav-selector-wrapper-header">
  </div>
  <devpav-input class="devpav-selector-wrapper__input" ph="devpav-input"></devpav-input>
  <div class="devpav-selector-wrapper__box">
    <devpav-chip *ngFor="let item of items"
                 [value]="item.value"
                 [idChip]="item.id"
                 (click)="toggleChip(item)"
                 [color]="selector.isSelected(item) ? 'primary' : 'undefined'">
    </devpav-chip>
  </div>
</div>
