.box_color_white_w100 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  @extend .box_color_white_w100;
}

.box-header {
  @extend .box_color_white_w100;
  height: 50px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 0 15px 0 15px;
  align-items: center;
}

.box-header__title {
  font-size: 16px;
  line-height: 24px;
  color: #66686e;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-weight: 400;
}
