.devpav-card {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.19);
}

.devpav-card__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  padding: 0 0 10px 0;
}

.devpav-card__title {
  color: rgba(136, 136, 136, 0.78);
  font-size: 18px;
  font-weight: 400;
}
