.menu-entities {
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);

  > a {
    padding: 10px 15px;
    color: black;
  }

  > a:hover {
    background: #000098;
    color: white;
    cursor: pointer;
  }
}
