.menu-entities {
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);

  > a {
    padding: 10px 15px;
    color: black;
  }

  > a:hover {
    background: #000098;
    color: white;
    cursor: pointer;
  }
}

.content-entity {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  .menu-action {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 5px;
    border-bottom: 1px #bfbfbf solid;

    > a {
      color: black;
      padding: 5px 10px;
      width: 100px;
      text-align: center;
    }

    > a:hover {
      background: #000098;
      color: white;
      cursor: pointer;
    }
  }

  .list-entities {
    width: 100%;
  }
}
