.form-authorization {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  margin: 180px auto;
}

.form-authorization__item {
  width: 100%;
  margin-bottom: 15px;
}

.form-authorization__title {
  margin-bottom: 15px;
  color: #000098;
  font-size: 20px;
}

.form-authorization__action {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.action__login {
  width: 100%;
}
