.item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 150px;
  background: white;
}

.item_avatar {
  height: 100%;
  width: 150px;
}

.item_content {
  padding: 15px 10px 20px 15px;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  width: 70%;
  overflow: hidden;
}

.item_title {
  font-weight: 700;
  color: #000;
  font-size: 15px;
  flex-basis: 100%;
  margin-bottom: 5px;
}

.item_description {
  color: #666;
  margin-bottom: 6px;
  word-break: break-word;
  font-size: 12px;
  flex-basis: 100%;
}

.item_counter {
  flex-basis: 15%;
  background: #4a4a4a;
}

.item_price {
  flex-basis: 15%;
  background: #2cb848;
}

.item_action {
  flex-basis: 10%;
  background: #c27f42;
}
