<div class="wrapper">
  <div class="header-item">
    <div class="logo-company">
      Artezio company
    </div>
    <div class="header-contacts">
      <button mat-button color="primary">{{'CONTACT_OWNER' | translate}}</button>
    </div>
  </div>
  <div class="item">
    <app-avatar-carousel class="item_avatar"></app-avatar-carousel>

    <div class="item_content">
      <div class="item_title">
        fuerhfuirehfhreufhre
      </div>
      <div class="item_description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Assumenda aut consequatur dignissimos dolor earum error excepturi fuga,
        ipsum laudantium maiores mollitia nemo nihil optio placeat quam quibusdam, repudiandae sed vitae!
      </div>
    </div>
    <div class="item_counter">
      <div class="number">
        <span class="minus" (click)="decrement()">–</span>
        <input type="text" [(ngModel)]="count"/>
        <span class="plus" (click)="increment()">+</span>
      </div>
    </div>
    <div class="item_price">
      <div class="price-title">
        125 {{'CURRENCY_BY' | translate}}
      </div>
      <div class="price-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Molestias, nisi.
      </div>
    </div>

    <div class="item_action">
      <svg-icon class="item-information" src="../../../assets/icon/information.svg" [svgStyle]="{'width.px':25, 'height.px':25}"></svg-icon>
      <svg-icon class="item-delete" src="../../../assets/icon/dustbin.svg" [svgStyle]="{'width.px':25, 'height.px':25}"></svg-icon>
    </div>
  </div>
  <div class="footer-item">
    <span>{{count}} позиций стоймостью 125 {{'CURRENCY_BY' | translate}}</span>
    <button mat-stroked-button color="primary" class="">Доставка</button>
    <button mat-stroked-button color="primary" class="">Персонал</button>
    <button mat-stroked-button color="primary">Оформить отдельным заказом</button>
  </div>
</div>



