<div class="item">
  <app-avatar-carousel class="item_avatar"></app-avatar-carousel>

  <div class="item_content">
    <div class="item_title">
      fuerhfuirehfhreufhre
    </div>
    <div class="item_description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Assumenda aut consequatur dignissimos dolor earum error excepturi fuga,
      ipsum laudantium maiores mollitia nemo nihil optio placeat quam quibusdam, repudiandae sed vitae!
    </div>
  </div>
  <div class="item_counter">

  </div>

  <div class="item_price">

  </div>

  <div class="item_action">

  </div>
</div>
