.boxs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.boxs__item {
  display: flex;
  width: 100%;
  margin-right: 20px;
  flex-wrap: wrap;
}

.boxs__item:last-child {
  margin-right: 0;
}


.boxs__header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}

.boxs__search {
  width: 100%;
  margin-right: 15px;
}

.boxs__search:last-child {
  margin-right: 0;
}

.boxs__add {
  width: 20%;
}

.boxs__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
}

.boxs__list-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.boxs__list-items__item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
