.list-entity {
  display: flex;
  flex-wrap: wrap;
  opacity: 1.0;
  margin: 20px 0 20px 0;
}

.list-entity__entity {
  display: flex;
  padding: 0 15px 0 15px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  flex-wrap: nowrap;
  background: white;
  height: 50px;
  margin-bottom: 10px;
}

.list-entity__entity:last-child {
  margin-bottom: 0;
}

.list-entity__title {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}


.list-entity__action {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
}
.entity:hover {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.19);
}

.entity:nth-last-child(1) {
  margin-bottom: 0;
}
