<app-panel-entity
  (changeChange)="change()"
  (createChange)="create()"
  (deleteChange)="deleteFunction()"
  (viewChange)="view()" [selected]="selected.length"></app-panel-entity>

<div class="list-entity">
  <app-item-list-with-title-and-checkbox class="list-entity__item" *ngFor="let item of listByParam$ | async"
    [checked]="historySelect(item.id)"
    (change)="checkboxEvent($event.event, $event.uuid)"
    [entity]="{ index: item.id, title: item.title }">
  </app-item-list-with-title-and-checkbox>
</div>
