<h2 mat-dialog-title>{{ props.titleWindow | async }}</h2>

<mat-dialog-content>
  <div class="mb-1 mt-1">
    <translate-container [values]="props?.entity?.values" (inputValues)="changeValues($event)"></translate-container>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ (isView() ? 'ACTIONS.CLOSE' : 'ACTIONS.CANCEL') | translate }}</button>
  <button mat-button cdkFocusInitial *ngIf="!isView()" (click)="onAction()">{{ props?.btnTitle | async }}</button>
</mat-dialog-actions>
