<div class="row body-catalog">
  <div class="col-md-12 col-12 box-right">
    <div class="box__item" style="cursor: pointer;" *ngFor="let position of (positions | async)">
      <div class="box__item__item">
        <app-avatar-carousel class="avatar-position" [images]="position.images"></app-avatar-carousel>
        <div class="item__content">
          <div class="item__title">
            {{position.title}}
          </div>
          <div class="item__text">
            {{position?.description}}
          </div>
        </div>
        <div class="item__price">
          <button mat-stroked-button color="primary" class="action-price" (click)="expansionPanel(position.id)">120 BYN / час
          </button>
          <button mat-stroked-button color="primary" class="action-price">Подробнее</button>
        </div>
      </div>
      <div  style="display: flex; width: 100%; margin-top: 10px; overflow: hidden; flex-wrap: wrap;"
            [@expansionTrigger]="statePanels.get(position.id).state">
        <!--<app-devpav-product-type-service style="width: 100%; padding-bottom: 10px"
                                         *ngFor="let item of position?.options"
                                         [typeService]="item?.type"
                                         [services]="item?.services"
                                         (selectedProduct)="selectProduct(position, $event)">
        </app-devpav-product-type-service>-->
        <app-table-service-position style="width: 100%" [columns]="columns" [setting]="setting" [data]="transactions">

        </app-table-service-position>
      </div>

    </div>
  </div>
</div>
