.container-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.item__detail {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 0;
  width: 100%;
  height: auto;
}

.item__detail:hover {
  //box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.item__detail-action {
  height: auto;
  //transition: height 0.6s ease-in-out;
}

.item__deploy {
  background: white;
  //margin: 15px 0 15px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.11);
}

.item__deploy .box__item__item {
  margin: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.box__item__item {
  display: flex;
  flex-wrap: nowrap;
  background: white;
  width: 100%;
  height: 250px;
}

.box__item__item:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.item__avatar {
  width: 500px;
  height: 250px;
  position: relative;
}

.content__info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.content__footer {
  display: flex;
  width: 100%;
}

.container-items__left-menu {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 150px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.19);
  background: #626262;
}

.content-menu {
  position: sticky;
  //background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0 10px 10px 10px;
  top: 20px;
  //box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.19);
}

angular2-multiselect {
  width: 100%;
}

.content-menu__selector {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 15px;
  height: auto;
}

.content-menu__selector:last-child {
  margin-bottom: 20px;
}

.body-catalog {
  //background: white;
  padding: 20px 0 20px 0;
}

.content-menu_title-item {
  margin: 0 0 15px 0;
  color: #7a7a7a;
  font-size: 12px;
  border-bottom-color: #000098;
}

.content-menu_title-item:first-child {
  margin: 0 0 15px 0;
}

.box-right {
  //border-left: 1px solid #0000ff14;
}


.action-price-active {
  background: #551a8be8;
  color: white;
}

.item__detail-unaction {
  display: none;
}

.price-and-service {
  margin: 20px 0 0 0;
  width: 100%;
}

mat-chip-list {
  padding: 10px;
}

.mat-tab-body-content {
  height: 100%;
  overflow: auto;
}

.header-less-tabs {
  display: none;
}

.down-panel {
  width: 100%;
  margin: 10px 0 10px 0;
}

.down-panel:first-child {
  margin-top: 10px;
}

.down-panel:last-child {
  margin-bottom: 0;
}


.mat-card-actions {
  background: #fcfcfc;
  border-radius: 25px;
  height: auto;
  padding: 0;
}

.mat-card-actions:hover {
  background: #fafafa;
}
