.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.items__item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}

.items__input:last-child {
  margin-bottom: 0;
}

.items__input {
  display: flex;
  width: 100%;
  margin-right: 15px;
}

.items__input:last-child {
  margin-right: 0;
}

.mat-dialog-container {
  background: #00a4ee;
  max-width: none;
  max-height: none;
}
