.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.items__item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
  height: auto;
}

.items__input {
  margin-right: 15px;
  width: 100%;
  height: 40px;
}

.items__input:last-child {
  margin-right: 0px;
}

angular2-multiselect {
  width: 100%;
  margin-right: 10px;
}

angular2-multiselect:last-child {
  margin-right: 0;
}

mat-dialog-actions {
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.items__item-file {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.item__file-input {
  display: none;
}

.item__input-label {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.input-label__label-box-title {
  margin-right: 15px;
}

.input-label__label-box-icon {
  display: flex;
}

.input-label__label-box {
  display: flex;
  width: 100%;
  background: #8181b9;
  justify-content: center;
  align-items: center;
  height: 40px;
  fill: white;
  cursor: pointer;
  color: whitesmoke;
  border-radius: 5px;
}

.item-file__loader {
  width: 100%;
  margin: 15px 0 15px 0;
  height: 2px;
}

.item__box-gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.box-gallery__image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 80px;
  width: 150px;
}

.item__box-gallery_shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.item__box-gallery_shadow:hover .box-gallery_shadow__delete-image-icon {
  display: block;
}

.box-gallery_shadow__set-main-image-icon {
  position: absolute;
}

.box-gallery_shadow__delete-image-icon {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
}


.item__box-gallery_shadow {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.items__item-action {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.item-action__button_action {
  margin-right: 15px;
}

.item-action__button_action:last-child {
  margin-right: 0;
}


.item__add_button {
  width: 100%;
}

@media screen and (max-width: 900px){
  .items__item {
    flex-wrap: wrap;
  }

  .items__item-action {
    justify-content: center;
  }

  .items__input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  angular2-multiselect {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .items__input:last-child {
    margin-bottom: 0;
  }
}
