<div class="row body-catalog">
  <div class="col-md-2 col-12 content-menu">
    <div class="content-menu_title-item">
      Типы аттракциона
    </div>
    <div class="content-menu__selector">

      <mat-checkbox style="width: 100%" *ngFor="let it of dropdownAllType" [checked]="true"
                    color="primary">{{it.title}}</mat-checkbox>
      <!--
      <angular2-multiselect [data]="dropdownAllType" [(ngModel)]="dropdownSelectType"
                            [settings]="settingsType"></angular2-multiselect>-->
    </div>
    <div class="content-menu_title-item">
      Теги аттракциона
    </div>
    <div class="content-menu__selector">
      <angular2-multiselect [data]="dropdownAllTag" [(ngModel)]="dropdownSelectTag"
                            [settings]="settingsTag"></angular2-multiselect>
    </div>
    <button class="col-12" mat-stroked-button color="primary" (click)="createItemProduct()">
      Подобрать
    </button>
  </div>
  <div class="col-md-10 col-12 box-right">
    <div class="box__item" *ngFor="let it of positions">
      <div class="box__item__item">
        <div class="item__avatar">
          <img src="{{it.image.url}}" class="avatar">
        </div>
        <div class="item__content">
          <div class="item__title col-12">
            {{it.title}}
          </div>
          <div class="item__text col-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi impedit laudantium neque repellat
            vel
            velit! Accusantium obcaecati quae quaerat sit tenetur. Eveniet!
          </div>
        </div>
        <div class="item__price">
          <button mat-stroked-button color="primary" (click)="deployItem(it.id)" class="action-price"  [ngClass]="idDeployItem(it.id) ? 'action-price-active' : ''">Prices</button>
        </div>
      </div>
      <div class="item__detail" [ngClass]="idDeployItem(it.id) ? 'item__detail-action' : ''">

      </div>
    </div>
  </div>

</div>

