<div class="service">
  <div class="service__item">
    <svg-icon class="item__icon" src="../assets/icon/shipped.svg"
              [svgStyle]="{ 'width.px': 150, 'height.px': 150 }"></svg-icon>
    <div class="item__title">
      Доставка и самовывоз
    </div>
    <div class="item__text">
      Вы можете арендавать аттракцион или оформить доставку через наш сервис
    </div>
  </div>
  <div class="service__item">
    <svg-icon class="item__icon" src="../assets/icon/shipped.svg"
              [svgStyle]="{ 'width.px': 150, 'height.px': 150 }"></svg-icon>
    <div class="item__title">
      Установка
    </div>
    <div class="item__text">
        Наши сотрудники установят для вас аттракционы
    </div>
  </div>
  <div class="service__item">
    <svg-icon class="item__icon" src="../assets/icon/shipped.svg"
              [svgStyle]="{ 'width.px': 150, 'height.px': 150 }"></svg-icon>
    <div class="item__title">
      Обслуживание
    </div>
    <div class="item__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur dignissimos ex excepturi in mollitia
      numquam obcaecati.
    </div>
  </div>
  <div class="service__item">
    <svg-icon class="item__icon" src="../assets/icon/shipped.svg"
              [svgStyle]="{ 'width.px': 150, 'height.px': 150 }"></svg-icon>
    <div class="item__title">
      Доставка
    </div>
    <div class="item__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur dignissimos ex excepturi in mollitia
      numquam obcaecati.
    </div>
  </div>

</div>

