<div class="list-entity">
  <div class="entity">
    <div class="title">
      Title (RU)
    </div>
    <div class="actions">
      <a>Edit</a>
      <a>Delete</a>
      <a>Edit</a>
    </div>
  </div>
  <div class="entity">
    <div class="title">
      Title (RU)
    </div>
    <div class="actions">
      <a>Edit</a>
      <a>Delete</a>
      <a>Edit</a>
    </div>
  </div>
  <div class="entity">
    <div class="title">
      Title (RU)
    </div>
    <div class="actions">
      <a>Edit</a>
      <a>Delete</a>
      <a>Edit</a>
    </div>
  </div>
</div>
