<div class="header-list-fixed">
  <div class="header-list">
    <button mat-stroked-button color="primary">Create</button>
    <button [hidden]="selected.length > 1 || selected.length === 0" mat-stroked-button color="primary">View</button>
    <button [hidden]="selected.length > 1 || selected.length === 0" mat-stroked-button color="primary">Edit</button>
    <button [hidden]="selected.length === 0" mat-stroked-button color="primary">Remove</button>
  </div>
</div>

<div class="list-entity">
  <div class="entity" *ngFor="let item of list$ | async">
    <div class="title">
      {{item.value}}
    </div>
    <div class="actions">
      <mat-checkbox (change)="checkboxEvent($event, item.uuid)" color="primary"></mat-checkbox>
    </div>
  </div>
</div>
