<div class="wrapper">
  <header>
    <div class="container">
      <div class="logo">
        <span class="logo__title">devpav</span>
        <span class="logo__domain">.by</span>
      </div>
      <div class="header-actions">
        <div class="header-actions__link">
          <a class="link-menu" routerLink="/home" routerLinkActive="active">{{ 'Home' | translate }}</a>
        </div>
        <div class="header-actions__link">
          <a class="link-menu" routerLink="/catalog" routerLinkActive="active">{{ 'Catalog' | translate }}</a>
        </div>
        <div class="header-actions__link">
          <a class="link-menu" routerLink="/settings" routerLinkActive="active">{{ 'Setting' | translate }}</a>
        </div>
      </div>
      <div class="header-user-action">
        <div class="header-language">
          <a [ngClass]="currentLanguage === 'ru' ? 'language-active' : ''"
             class="language" (click)="switchLanguage('ru')">{{ 'ru' | translate }}</a>
          <a [ngClass]="currentLanguage === 'en' ? 'language-active' : ''"
             class="language" (click)="switchLanguage('en')">{{ 'en' | translate }}</a>
        </div>

        <div class="header-shop">
          <a routerLink="/shopping-cart">
            <svg-icon src="../assets/icon/shopping-cart.svg"
                      [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"></svg-icon>
          </a>
          <div class="header-shop__counter-product">0</div>
        </div>

        <div class="header-auth">
          <a routerLink="/auth" routerLinkActive="active">{{'log in' | translate}}</a>
        </div>
      </div>
    </div>
  </header>

  <section class="container">
    <router-outlet></router-outlet>
  </section>

  <footer>
    <div class="container">
      <div class="container__footer">
        <div class="footer__contacts">
          <div class="contacts__title">Контакты</div>
          <div class="contacts__item-contact">
            <svg-icon src="../assets/icon/phone.svg" class="item-contact__icon"
                      [svgStyle]="{ 'width.px': 25, 'height.px': 25 }">
            </svg-icon>
            <a class="item-contact__text">+375 (29) 947-96-30</a>
          </div>
          <div class="contacts__item-contact">
            <svg-icon src="../assets/icon/envelope.svg" class="item-contact__icon"
                      [svgStyle]="{ 'width.px': 25, 'height.px': 25 }">
            </svg-icon>
            <a class="item-contact__text">devpavdeveloper@gmail.com</a>
          </div>
        </div>
        <div class="footer__social">
          <svg-icon src="../assets/icon/telegram.svg" class="social__icon"
                    [svgStyle]="{ 'width.px': 25, 'height.px': 25 }">
          </svg-icon>
          <svg-icon src="../assets/icon/git.svg" class="social__icon"
                    [svgStyle]="{ 'width.px': 25, 'height.px': 25 }">
          </svg-icon>
        </div>
        <div class="footer__navigator">
          <div class="navigator__title">Навигация</div>
          <a class="navigator__link">{{ 'Home' | translate }}</a>
          <a class="navigator__link">{{ 'Catalog' | translate }}</a>
          <a class="navigator__link">{{ 'Setting' | translate }}</a>
        </div>
      </div>
      <div class="author">
        devpav.by
      </div>
    </div>
  </footer>
</div>
