<div>
  <header>
<!--    <button mat-button (click)="loadTags()">Get tags</button>
    <button mat-button (click)="loadTypes()">Get types</button>
    <button mat-button (click)="loadProductTypes()">Get product types</button>
    <button mat-button (click)="loadPositions()">Get positions</button>-->

    <button mat-button routerLink="/components">Components</button>
    <button mat-button (click)="toggleTheme('dark')">Theme Dark</button>
    <button mat-button (click)="toggleTheme('light')">Theme Light</button>

  </header>

  <section style="margin-top: 20px; margin-bottom: 200px">
    <router-outlet></router-outlet>
  </section>

  <footer>

  </footer>
</div>
