<div class="item__avatar">
  <div class="avatar-mirror-dark"></div>
  <div *ngIf="image" class="avatar-prev" (click)="prev()">
    <svg-icon src="../assets/icon/left-arrow.svg"
              [svgStyle]="{ 'width.px': 40, 'height.px': 60 }"></svg-icon>
  </div>
  <div *ngIf="image" class="avatar-counter">
    <span>{{image ?.index}} / {{images.length}}</span>
  </div>
  <div *ngIf="image" class="avatar-next" (click)="next()">
    <svg-icon src="../assets/icon/right-arrow.svg" [svgStyle]="{ 'width.px': 40, 'height.px': 60 }"></svg-icon>
  </div>

  <img *ngIf="image" [src]="image?.url" (click)="next()" class="avatar">
  <img *ngIf="!image" [src]="'../assets/img/no-image.png'" (click)="next()" class="avatar">
</div>
