<div class="box">
  <svg-icon class="box__icon" *ngIf="options?.icon"
            [src]="'../assets/icon/' + options.icon"
            [svgStyle]="{ 'width.px': 25, 'height.px': 25 }"></svg-icon>
  <div class="box__title">
    {{options?.title | translate}}
  </div>
  <div class="box__price" *ngIf="options?.price">
    <span class="box__price-text">~ {{options?.price}} <span class="box__price-text--color">{{'CURRENCY_BY' | translate}}</span></span>
  </div>
  <div class="box__check-box" *ngIf="options.showCheckBox">
    <mat-checkbox color="primary" (change)="eventMatChecked($event)" ></mat-checkbox>
  </div>
</div>

