.d_flex_with_w100p {
  display: flex;
  flex-wrap: nowrap;
  width: inherit;
}

.box {
  display: flex;
  flex-wrap: nowrap;
  background: white;
  width: 100%;
  align-items: center;
  height: 50px;
}

.box__title {
  box-sizing: border-box;
  flex-basis: 80%;
  margin-left: 25px;
  font-weight: 500;
  text-decoration: none;
}

.box__icon {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: inherit;
  background: #9270f1;
}

svg-icon {
  fill: white;
}

.box__price {
  box-sizing: border-box;
  flex-basis: 20%;
  text-align: end;
  padding-right: 20px;
}


.box__price-text {
  font-weight: 500;
  text-decoration: none;
  color: #673ab7;
}

.box__price-text--color {
  color: #673ab7;
}


.box__check-box {
  width: 100px;
  justify-items: start;
  text-align: center;
}
