<div class="row body-catalog">
  <div class="col-md-12 col-12 box-right">
    <div class="box__item" style="cursor: pointer;" *ngFor="let position of (positions | async)">
      <div class="box__item__item">
        <app-avatar-carousel class="avatar-position" [images]="position.images"></app-avatar-carousel>
        <div class="item__content">
          <div class="item__title">
            {{position.title}}
          </div>
          <div class="item__text">
            {{position?.description}}
          </div>
        </div>
        <div class="item__price">
          <button mat-stroked-button color="primary" class="action-price" (click)="get(position.id)">120 BYN / час
          </button>
          <button mat-stroked-button color="primary" class="action-price">Подробнее</button>
        </div>
      </div>
      <div style="display: flex; width: 100%; margin-top: 10px;"></div>
      <app-devpav-product-type-service style="width: 100%"
                                       *ngFor="let item of position?.options"
                                       [typeService]="item.type"
                                       [services]="item?.services"
                                       (selectedProduct)="selectProduct(position, $event)">
      </app-devpav-product-type-service>
    </div>
  </div>
</div>

<!--
<div *ngFor="let position of (positions | async)"
     style="width: 100%; overflow: hidden; height: auto; background: white; padding: 20px">
  <ngx-json-viewer [json]="position"></ngx-json-viewer>
</div>
-->
