<mat-tab-group (focusChange)="selectedTab($event)">
  <mat-tab label="Users">
    <ng-template mat-tab-label>
      Users
    </ng-template>
  </mat-tab>
  <mat-tab label="Data Base"></mat-tab>
</mat-tab-group>

<div class="setting-body">
  <mat-list class="left-menu" role="list">
    <mat-list-item *ngFor="let it of menu" role="listitem" [routerLink]="[it.link]" routerLinkActive="active">
       {{it.label}}
    </mat-list-item>
  </mat-list>
  <div class="place-component">
    <router-outlet></router-outlet>
  </div>
</div>
