.setting-body {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 20px;

  .left-menu {
    width: 30%;
    height: fit-content;
  }

  .place-component {
    width: 70%;
    margin-left: 20px;
    background: white;
    height: fit-content;
  }
}

mat-list {
  background: white;
  mat-list-item {
    height: 40px;
    cursor: pointer;
  }

  mat-list-item:hover {
    background: #0000e7;
    color: white;
    cursor: pointer;
  }
}

mat-tab-group {
  background: white;
  width: 100%;
}

.active {
  background: #000098;
  color: white;
}
