.panel-fixed {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 70px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.19);
}

.panel-fixed__search {
  display: flex;
  padding: 0 15px 0 15px;
  height: 40px;
  transition: width 0.6s ease-in-out;
  width: 40%;
}

.panel-fixed__buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.panel-fixed__buttons button {
  margin-right: 10px;
  width: 100px;
  height: 40px;
}

.panel-fixed__buttons button:last-child {
  margin-right: 0;
}

.panel-fixed__full {
  width: 100%;
  transition: width 0.6s ease-in-out;
}
