@import '~src/styles';

.box-input {
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-basis: 100%;
  border: var(--form-input-border);
  background: var(--background-color);
  box-shadow: var(--background-form-input-shadow);
}

input {
  height: inherit;
  font-size: 14px;
  width: 100%;
  padding: 15px;
  outline: none !important;
  color: var(--text-color);
  background: var(--form-input-background-color);
  border: none;
}

.box-input__label-input {
  height: 100%;
  flex-basis: 90%;
}

.box-input__postfix {
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: inherit;
  min-width: 110px;
  cursor: pointer;
  border: inherit;
  border-right: none;
  background: var(--element-background-color);
}

.box-input__postfix mat-icon {
  cursor: pointer;
}

.box-input__postfix {
  color: var(--element-text-color);
}

.box-input_language-name {
  color: var(--element-text-color);
  font-weight: 500;
}
