<div class="box-input">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchLanguage('ru')">Русский</button>
    <button mat-menu-item (click)="switchLanguage('en')">English</button>
  </mat-menu>
  <label [formGroup]="formGroup" [ngStyle]="getStyleInput()" class="box-input__label-input">
    <input type="text" placeholder="value language" [formControlName]="getFormControlName('en')"
           *ngIf="isCurrentMultiLanguageInput('en')"/>
    <input type="text" placeholder="value language" [formControlName]="getFormControlName('ru')"
           *ngIf="isCurrentMultiLanguageInput('ru')"/>
  </label>
  <div *ngIf="postfix" class="box-input__postfix" [matMenuTriggerFor]="menu">
    <mat-icon>translate</mat-icon>
    <span
      class="box-input_language-name">&emsp;{{ isCurrentMultiLanguageInput('ru') ? 'RU' : 'EN' }}</span>
  </div>
</div>
