<div class="box-input">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchLanguage('ru')">Русский</button>
    <button mat-menu-item (click)="switchLanguage('en')">English</button>
  </mat-menu>
  <label [formGroup]="formGroup" class="box-input__label-input">
    <input [formControlName]="mapLanguage.get('en')"
           *ngIf="currentInputLanguage === mapLanguage.get('en')" type="text" placeholder="value language"/>
    <input [formControlName]="mapLanguage.get('ru')"
           *ngIf="currentInputLanguage === mapLanguage.get('ru')" type="text" placeholder="value language"/>
  </label>
  <div class="box-input__postfix" [matMenuTriggerFor]="menu">
    <mat-icon>translate</mat-icon>
    <span class="box-input_language-name">&emsp;{{ currentInputLanguage === mapLanguage.get('ru') ? 'RU' : 'EN' }}</span>
  </div>
</div>
