@import '~src/styles';

.box-input {
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-basis: 100%;
  background: #008672;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

input {
  height: inherit;
  font-size: 14px;
  width: 100%;
  padding: 15px;
  border: #d2d2d2;
  outline: none !important;
}

.box-input__label-input {
  height: 100%;
  flex-basis: 90%;
  border-right: none;
}

.box-input__postfix {
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: $defaultColorComponent;
  height: inherit;
  min-width: 110px;
  // border: 1px solid #a9a9a9;
  border: none;
  cursor: pointer;
}

.box-input__postfix mat-icon {
  cursor: pointer;
}

.box-input__postfix {
  color: white;
}

.box-input_language-name {
  color: white;
  font-weight: 500;
}
