.list-entity {
  display: flex;
  flex-wrap: wrap;
  opacity: 1.0;
  margin: 20px 0 10px 0;
  background: white;

  .entity {
    display: flex;
    height: 50px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
    cursor: context-menu;

    .title {
      //background: white;
      width: 60%;
      height: 100%;
      padding-top: 14px;
      padding-left: 10px;
      color: black;
    }

    .actions {
      width: 40%;
      height: 100%;
      display: flex;
      //background: white;
      justify-content: flex-end;
      align-items: center;

      mat-checkbox {
        padding-top: 8px;
        padding-right: 15px;
        margin-right: 10px;
      }

      /*button {
        width: 100px;
        height: 40px;
        margin-right: 10px;
      }*/
    }
  }

  .entity:hover {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.19);
  }

  .entity:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.header-list-fixed {
  position: sticky;
  top: 80px;
  left: 0;
  z-index: 1000;
  background: #000098;
  width: 100%;
  .header-list {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 0 20px 0;
    justify-content: flex-end;
    align-items: center;
    background: white;
    height: 70px;

    button {
      margin-right: 20px;
      width: 100px;
      height: 40px;
    }
  }
}
