<div class="header-list-fixed">
  <div class="header-list">
    <button mat-stroked-button color="primary" (click)="create()">Create</button>
    <button [hidden]="selected.length > 1 || selected.length === 0" mat-stroked-button color="primary" (click)="view()">View</button>
    <button [hidden]="selected.length > 1 || selected.length === 0" mat-stroked-button color="primary" (click)="change()">Edit</button>
    <button [hidden]="selected.length === 0" mat-stroked-button color="primary" (click)="deleteFunction()">Remove</button>
  </div>
</div>

<div class="list-entity">
  <div class="entity" *ngFor="let item of list$ | async">
    <div class="title">
      {{item.value}}
    </div>
    <div class="actions">
      <mat-checkbox (change)="checkboxEvent($event, item.uuid)" [checked]="historySelect(item.uuid)" color="primary"></mat-checkbox>
    </div>
  </div>
</div>
