.main-box-service {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0 10px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.box:last-child {
  margin: 10px 0 0 0;
}

.title-section {
  margin: 15px 0 15px 30px;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0 10px 20px;
  width: 100%;
  background: white;
  cursor: pointer;
  height: 70px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 10px;
}

.item-selected {
  background: #098536;
  color: white;
}

.item-selected .item__title svg-icon {
  fill: white;
}

.item-selected .price-text {
  color: white;
}

.item:last-child {
  margin-bottom: 0;
}

.item-body {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item__title {
  display: flex;
  align-items: center;
  width: 60%;
  font-size: 15px;
  font-weight: 400;
  height: fit-content;
  margin: 15px 10px;
}

.item__title svg-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.item__in-shopping-cart {
  display: flex;
  flex-wrap: nowrap;
  max-width: 200px;
  min-width: 200px;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.item__price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  width: 20%;
}

.active-price {
  width: 120px;
  padding: 0 15px;
}

.price-text {
  color: #561d8b;
  font-size: 17px;
  font-weight: 700;
}

.currency {
  font-size: 12px;
  font-weight: 700;
}


.footer__service {
  display: flex;
  width: 100%;
  margin: 15px 0 15px 0;
  padding: 15px 0 15px 15px;
  justify-content: flex-end;
  align-items: center;
}

.footer-service__total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  color: #b64028;
  font-size: 17px;
  font-weight: 700;
  width: 20%;
}

.footer-service__shopping-cart-button {
  display: flex;
  width: auto;
  min-width: 200px;
  max-width: 200px;
  justify-content: center;
}
