<div class="main-box-service">
  <div class="footer__service">
    <div class="footer-service__total-price">
      ~ {{totalPrice}} р.
    </div>
    <div class="footer-service__shopping-cart-button">
      <button [disabled]="totalPrice === 0" mat-flat-button color="primary"  class="active-price">В корзину</button>
    </div>
  </div>
  <div class="box" *ngFor="let key of getKey(map)" >
    <span class="title-section">{{ key | translate }}</span>
    <div class="item" [ngClass]="it.selected ? 'item-selected' : ''" *ngFor="let it of map.get(key)">
      <div class="item__info">
        <div class="item__title" >
          <svg-icon src="../assets/icon/success.svg" [svgStyle]="{ 'width.px': 15, 'height.px': 15 }"></svg-icon>
          {{it?.service?.title}}
        </div>
        <div class="item__price">
          <span class="price-text">~ {{it?.price}} <span class="currency">р.</span></span>
        </div>
      </div>

      <div class="item__in-shopping-cart">
        <mat-checkbox [(ngModel)]="it.selected" (change)="switchActionService(key, map.get(key), it, $event)" color="primary"></mat-checkbox>
      </div>
    </div>
  </div>
</div>

