
$colorFontFooterAndHeader: #4a4a71;
$colorFooterAndHeader: #fbfbfb;

.box__item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.box__item__item {
  display: flex;
  flex-wrap: nowrap;
  background: white;
  width: 100%;
  height: 150px;
}

.item__content {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  height: 150px;
  align-content: flex-start;
}

.item__title {
  display: flex;
  color: black;
  width: 100%;
  height: fit-content;
  padding: 20px 0 15px 20px;
}

.item__text {
  height: auto;
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  color: #676767;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.item__price {
  display: flex;
  width: auto;
  min-width: 200px;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(121, 121, 121, 0.12);
}

.action-price {
  width: 100%;
  padding: 0 15px;
}


.avatar-position {
  cursor: pointer;
  width: 200px;
  height: 150px;
  border-right: 1px solid rgba(121, 121, 121, 0.12);
}


// table with products
.wrapper-table-products {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.table-products {
  width: 100%;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.header-item {
  padding: 10px;
  flex-basis: 100%;
  border-bottom: 1px solid rgba(121, 121, 121, 0.12);
  display: flex;
  color: $colorFontFooterAndHeader;
  background: $colorFooterAndHeader;
  justify-content: space-between;
  align-items: center;
}

.header-contacts button {
  color: $colorFontFooterAndHeader;
  border: 1px solid rgba(121, 121, 121, 0.12);
}

.logo-company {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  color: $colorFontFooterAndHeader;
  height: auto;
  padding: 10px;
  background: $colorFooterAndHeader;
  align-items: center;
  border-top: 1px solid rgba(121, 121, 121, 0.05);
}

.footer-item button {
  color: rgba(6, 6, 6, 1);
  margin-right: 10px;
  border: 1px solid rgba(121, 121, 121, 0.12);
}
.footer-item .btn-cart {
  margin-right: 10px;
  color: white;
  fill: white;
}

.mat-icon {
  width: 18px;
  margin-right: 10px;
}

.footer-item button:last-child {
  margin-right: 0;
}

.footer-item span {
  color: #555555;
  font-weight: 400;
  margin-right: 20px;
}


.item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 150px;
  background: white;
  position: relative;

}

.item_avatar {
  height: 100%;
  width: 200px;
  border-right: 1px solid rgba(121, 121, 121, 0.12);
}

.item_content {
  padding: 15px 15px 20px 15px;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.item_title {
  font-weight: 400;
  color: #000;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 18px;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.item_title--price {
  font-size: 13px;
  color: rgba(98, 98, 98, 0.68);
}

.item_description {
  color: #666;
  margin-bottom: 6px;
  word-break: break-word;
  font-size: 13px;
  flex-basis: 100%;
}

.item_counter {
  flex-basis: 20%;
  padding: 15px 0 15px 0;
  background: white;
}

span {
  cursor:pointer;
}

.number {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.item:hover .minus  {
  display: inline-block;
}

.item:hover .plus {
  display: inline-block;
}

.minus, .plus{
  width:20px;
  height:25px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius:5px;
  display: none;
  vertical-align: middle;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.number input {
  height: 25px;
  width: 45px;
  text-align: center;
  font-size: 12px;
  border:1px solid #ddd;
  border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}

.item_price {
  padding: 20px 10px 20px 0;
  flex-basis: 25%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  border-right: 1px solid rgba(121, 121, 121, 0.12);
}

.price-title {
  line-height: 1.134;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  color: #333;
  margin-bottom: 5px;
}

.price-description {
  font-size: 12px;
  color: #666;
}

.item_action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  padding: 15px;
}

.item_action svg-icon {
  cursor: pointer;
  fill: #2e2e2e;
  margin-bottom: 10px;
}

.item-information:hover {
  fill: #0000d5 !important;
}

.item-delete:hover {
  fill: #e63333 !important;
}

.information-panel {
  margin: 0 10px 10px 10px;
  width: 100%;
}
