<div class="box__item" style="cursor: pointer;">
  <div class="box__item__item">
    <app-avatar-carousel class="avatar-position" [images]="position.images"></app-avatar-carousel>
    <div class="item__content">
      <div class="item__title">
        {{position.title}}
      </div>
      <div class="item__text">
        {{position?.description}}
      </div>
    </div>
    <div class="item__price">
      <button mat-stroked-button color="primary" class="action-price" (click)="expansionPanel()">
        от {{position.minPrice}} {{'CURRENCY_BY' | translate}}
      </button>
      <button mat-stroked-button color="primary" class="action-price">Подробнее</button>
    </div>
  </div>
  <mat-card style="width: 100%; margin-top: 15px" *ngIf="productInformation !== undefined">
    <mat-card-subtitle>{{productInformation?.title}} / {{productInformation?.type?.toString() | translate}}</mat-card-subtitle>
    <mat-card-content>
      {{productDescription}}
    </mat-card-content>
    <mat-card-actions align="center" (click)="hiddenSupportInfoPanel()">
      <button mat-button color="warn">{{'HIDDEN' |translate}}</button>
    </mat-card-actions>
  </mat-card>
  <div class="wrapper-table-products" [@expansionTrigger]="state">
    <product-catalog-panel-service
      (clickByRow)="onClickByProduct($event)"
      (selected)="selectedServiceAction($event)"
      [select]="selectedProduct"
      (deleted)="deleteFromCart($event)"
      class="table-products" [products]="position.products">
    </product-catalog-panel-service>
  </div>
</div>
