<div class="wrapper">
  <div class="item">
    <app-avatar-carousel class="item_avatar"></app-avatar-carousel>
    <div class="item_content">
      <div class="item_title">
        {{position?.title}}
        <span class="item_title--price">
          от {{position.minPrice}} {{'CURRENCY_BY' | translate}}
        </span>
      </div>
      <div class="item_description">
        {{position?.description}}
      </div>
    </div>
  </div>

  <div style="flex-basis: 100%; margin: 5px 0 0 0">
    <app-product-service-expansion
      (selectedProducts)="selectProductsRent($event)"
      [props]="getPropsRent(('VALUE_RENT' | translate), 'RENT')">
    </app-product-service-expansion>
  </div>

  <div class="footer-item">
    <button mat-flat-button>{{'DETAIL' | translate}}</button>
    <button mat-flat-button class="btn-cart"
            [color]="'primary'"
            [style.color]="'white'"
            (click)="eventBtnShoppingCart()">
          <mat-icon [svgIcon]="getCurrentIconShoppingCart()"></mat-icon>
      {{ getCurrentTitleShoppingCart() | translate}}
    </button>

  </div>
</div>

