@import '~src/styles';

.devpav-chip {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  height: 40px;
  width: fit-content;
  border: var(--devpav-chip-border);
  color: var(--devpav-chip-font-color);
  background: var(--devpav-chip-background-color);
}

.devpav-chip mat-icon {
  margin-left: 10px;
}
