/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-multiselect-dropdown/themes/default.theme.css";
@import '~bootstrap/scss/bootstrap-grid';

:root {
  /* Colors */
  --primary-color: '#ffffff';

  --warning-color: rgb(255, 0, 0);
  --warning-font-color: rgb(255, 0, 0);

  --background-color: '#ffffff';

  --text-color: #2d2d2d;
  --text-input-color: #2d2d2d;

  --form-input-border: 1px solid #ececec;
  --form-input-border-color: #ececec;
  --form-input-background-color: #191c20;

  --devpav-chip-background-color: #26303e;
  --devpav-chip-font-color: #26303e;
  --devpav-chip-border: 1px solid #e8e8e8;

  --devpav-btn-primary: white;
  --devpav-btn-warning: #f00;
  --devpav-btn-accent: #f00;

  --devpav-button-hover-color: 1px solid #e8e8e8;

  --element-background-color: #26303e;
  --element-text-color: #26303e;

  /* Shadows */
  --shadow-color: rgba(0, 0, 0, 0.09);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

input.devpav-input {
  height: 40px;
  font-size: 14px;
  width: 100%;
  padding: 15px;
  outline: none !important;
  color: var(--text-input-color);
  background: var(--form-input-background-color);
  border: var(--form-input-border);
}

textarea.devpav-textarea {
  height: inherit;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  resize: vertical;
  min-height: 180px;
  outline: none;
  z-index: 10;
  color: var(--text-input-color);
  background: var(--form-input-background-color);
  border: var(--form-input-border);
}

button.devpav-btn {
  min-height: 40px;
  width: max-content;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  min-width: 120px;
  outline: none;
  display: flex;
  text-decoration: none;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  color: var(--text-input-color);
  background: var(--form-input-background-color);
  border: var(--form-input-border);
}

button.devpav-button.devpav-btn-warning {
  font-weight: 600;
  color: var(--warning-font-color);
  background: var(--warning-color);
}

button.devpav-button.devpav-btn-warning:hover {
  color: var(--warning-font-color);
  background: var(--warning-color);
}

button.devpav-button:hover {
  background: var(--devpav-button-hover-color);
}

h5, h1, h2, h3, h4 {
  font-weight: 500;
}