/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-multiselect-dropdown/themes/default.theme.css";
@import '~bootstrap/scss/bootstrap-grid';

$mainColorBackgroundBack: #551a8be8;
$mainColorBackground: #551a8be8;
$mainColorFont: #f0f0f0;
$defaultColorComponent: #008672;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $mainColorFont;
}

input.devpav-input {
  height: 40px;
  font-size: 14px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  padding: 15px;
  border: #d2d2d2;
  outline: none !important;
}

textarea.devpav-textarea {
  height: inherit;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  resize: vertical;
  border: none;
  min-height: 180px;
  outline: none;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
