/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-multiselect-dropdown/themes/default.theme.css";
@import '~bootstrap/scss/bootstrap-grid';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f4f6;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  color: #626262;
}

.green-snackbar {
  background: #20be82;
}

.red-snackbar {
  background: #be4d0e;
  color: white;
}
