<mat-selection-list #shoes (selectionChange)="eventSelectItems(shoes.selectedOptions)">
  <mat-list-option *ngFor="let item of items" class="item-panel" [disableRipple]="true" checkboxPosition="after"
                   [value]="item.id">
    <div class="item-panel-body">
      <mat-icon matListIcon color="primary" *ngIf="icon?.showIcon">{{icon?.title}}</mat-icon>
      <span [ngClass]="this.icon.showIcon ? '' : 'title-icon'">{{item?.value}}</span>
    </div>
  </mat-list-option>
</mat-selection-list>

<ngx-json-viewer [json]="items" [expanded]="false"></ngx-json-viewer>
