.component-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.component-icon mat-icon {
  margin-right: 15px;
  cursor: pointer;
}
.component-icon mat-icon:last-child {
  margin-right: 0;
}

.disable-icon {
  color: #b8b8b8;
}
