<h2 mat-dialog-title>{{data.action === 'create' ? 'Create' : data.action === 'view' ? 'View' : 'Change'}}</h2>
<mat-dialog-content class="content-dialog">
  <input type="text" [(ngModel)]="nsi.values[0].value" placeholder="Значение на русском">
  <input type="text" [(ngModel)]="nsi.values[1].value" placeholder="Value in English">
  <angular2-multiselect *ngIf="isTypeService" [data]="types" [(ngModel)]="selectedService" [settings]="settings"></angular2-multiselect>
  <textarea *ngIf="isTypeService" placeholder="Описание на русском языке" #descriptionRuId="ngModel" [(ngModel)]="nsi.description[0].value"
            [ngModelOptions]="{standalone: true}"></textarea>
  <textarea *ngIf="isTypeService"placeholder="Описание на английском языке" #descriptionRuId="ngModel" [(ngModel)]="nsi.description[1].value"
            [ngModelOptions]="{standalone: true}"></textarea>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.action !== 'view'">
  <button mat-button  [mat-dialog-close]="true">Cancel</button>
  <button mat-button (click)="add()" cdkFocusInitial>{{data.action === 'create' ? 'Create' : 'Save'}}</button>
</mat-dialog-actions>
