.box-textarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-basis: 100%;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

textarea {
  height: inherit;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  resize: vertical;
  border: none;
  min-height: 180px;
  outline: none;
  z-index: 10;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.box-textarea__label-textarea {
  height: auto;
  flex-basis: 100%;
}

.box-textarea__prefix {
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #008672;
  height: 45px;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  min-width: 110px;
  flex-basis: 100%;
  // border: 1px solid #a9a9a9;
  border-bottom: none;
  cursor: pointer;
}

.box-textarea__prefix mat-icon {
  cursor: pointer;
}

.box-textarea__prefix {
  color: white;
}

.box-textarea_language-name {
  color: white;
  font-weight: 500;
}
