@import '~src/styles';

.box-textarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-basis: 100%;
  background: var(--background-color);
  border: var(--form-input-border);
}

textarea {
  height: inherit;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  resize: vertical;
  min-height: 180px;
  outline: none;
  z-index: 10;
  border: none;
  color: var(--text-input-color);
  background: var(--form-input-background-color);
}

.box-textarea__label-textarea {
  height: auto;
  flex-basis: 100%;
}

.box-textarea__prefix {
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  z-index: 100;
  min-width: 110px;
  flex-basis: 100%;
  border: none;
  cursor: pointer;
  border-bottom: var(--form-input-border);
  background: var(--element-background-color);
}

.box-textarea__prefix mat-icon {
  cursor: pointer;
}

.box-textarea__prefix {
  color: var(--element-text-color);
}

.box-textarea_language-name {
  color: var(--element-text-color);
  font-weight: 500;
}
