<div class="box-textarea">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchLanguage('ru')">Русский</button>
    <button mat-menu-item (click)="switchLanguage('en')">English</button>
  </mat-menu>
  <div class="box-textarea__prefix" [matMenuTriggerFor]="menu">
    <mat-icon>translate</mat-icon>
    <span class="box-textarea_language-name">&emsp;{{ currentInputLanguage === mapLanguage.get('ru') ? 'RU' : 'EN' }}</span>
  </div>
  <label [formGroup]="formGroup" class="box-textarea__label-textarea">
    <textarea [formControlName]="mapLanguage.get('en')"
              *ngIf="currentInputLanguage === mapLanguage.get('en')"
              placeholder="Value default"></textarea>
    <textarea [formControlName]="mapLanguage.get('ru')"
              *ngIf="currentInputLanguage === mapLanguage.get('ru')"
              placeholder="Value default"></textarea>
  </label>
</div>


